<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
</head>
<body>
<h1>Project Allocation Tool Login</h1>
<div> Welcome to the application. Feel free to login with user (test) and password(test).</div>
<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input id="usernameBox" type="text" name="username"/><br/>
    </div>
    <div>
        <label>Password:</label>
        <input id="passwordBox" type="password" name="password"/>
    </div>
    <div>
        <input id="submitBox" type="submit" value="Submit"/>
    </div>
</form>
</body>
</html>